* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-size: 100%;
    text-align: center;
}

.head_img {
    width: 100%;
    height: 100vh;
    background: url(/G:/html/job_one/img) no-repeat center center;
    background-size: cover;
}

h1 {
    display: block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

p {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
}


.sprint_1 {
    max-width: 1548px;
    margin: 15rem auto;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
}

.lesson {
    position: relative;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

.lesson {
    position: relative;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

.lesson {
    position: relative;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

.lesson {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);

}

.lesson {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    background: white;
    border-radius: 10px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}

.block_one {
    display: flex;
    margin-top: 60px;
    margin-left: 25px;
}

.btn {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 200px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   color: #fff;
   font-size: 24px;
   text-transform: uppercase;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   box-sizing: border-box;
   background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3d, #03a9F4);
   background-size: 400%;
   border-radius: 20px;
   z-index: 1;


}

.btn:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.btn::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3d, #03a9F4);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
    transition: 1s;
}

.btn:hover::before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.block_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.head_spr1 {
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

.sprint_2 {
    max-width: 1548px;
    margin: -5rem auto;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    background: rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;

}

.side-menu {
    position:absolute;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 10%;
    right: -190px;
    width: 200px;
    background-color: #f1f1f1aa;
    transition: .4s linear;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    display:  block;
    padding: 14px 10px;
    color: #333;
    font-size: 20px;
    transition: .4s linear;
}

.side-menu a i {
    width: 40px;
    font-size: 24px;
    text-align: center;
}

.side-menu a:hover {
    background-color: #333;
    color: #f1f1f1aa;
}

.toggle-btn{
    position: absolute;
    left: -40px;
    top: 0;
    width: 40px;
    height: 52.5px;
    background: #333;
    color: #f1f1f1aa;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width:500px) {
.lesson {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}    
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: scrbar 5s linear infinite;
}

@keyframes scrbar {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#scrollbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#scrollbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

section i {
    position: absolute;
    background: #ffF;
    border-radius: 100%;
    animation: backnim 5s linear infinite;
}

section i:nth-child(even) {
    background: transparent;
    border: 1px solid #fff;
}

@keyframes backnim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(+4000%);
        opacity: 0;
    }
}