* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-size: 100%;
    background-color: var(--black1);
    text-align: center;
}

:root {
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --gray1: #474747;
    --gray2: #545454;
    --blue1: #03a9f4;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
}

.head_img {
    width: 100%;
    height: 100vh;
    background: url(/G:/html/job_one/img) no-repeat center center;
    background-size: cover;
}

.hh3 {
    margin-left: 90%;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

.sprint_1 {
    max-width: 1570px;
    margin: 281px auto;
    border-radius: 20px;
    background-color: var(--black2);
    padding: 30px;
    background: rgba(84,84,84,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
}

.lesson {
    position: relative;
    margin-top: 40px;
    margin-left: 40px;
    width: 450px;
    height: 200px;
    background: var(--black2);
    border-radius: 10px;
    background: rgba(84,84,84,0.3);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
}


.block_one {
    display: flex;
    margin-top: 60px;
    margin-left: 25px;
}

.btns {
   position: absolute;
   top: 80%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 200px;
   height: 60px;
   text-align: center;
   line-height: 60px;
   color: #fff;
   font-size: 24px;
   text-transform: uppercase;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   box-sizing: border-box;
   background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3d, #03a9F4);
   background-size: 400%;
   border-radius: 20px;
   z-index: 1;


}

.btns:hover {
    animation: animate 8s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.btns::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3d, #03a9F4);
    background-size: 400%;
    border-radius: 20px;
    opacity: 0;
    transition: 1s;
}

.btns:hover::before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
}

.block_text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.head_spr1 {
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    margin-bottom: 20px;
}

.sprint_2 {
    max-width: 1570px;
    margin: -13rem auto;
    border-radius: 20px;
    background-color:var(--black2);
    padding: 30px;
    background: rgba(84,84,84,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(1rem);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;

}

@media screen and (max-width:500px) {
.lesson {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
}    
}

::-webkit-scrollbar {
    width: 0;
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: scrbar 5s linear infinite;
}

@keyframes scrbar {
    0%,100% {
        filter: hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(360deg);
    }
}

#scrollbar::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#scrollbar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

section i {
    position: absolute;
    background: #ffF;
    border-radius: 100%;
    animation: backnim 5s linear infinite;
}

section i:nth-child(even) {
    background: transparent;
    border: 1px solid #fff;
}

@keyframes backnim {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateY(+4000%);
        opacity: 0;
    }
}

.ml-4 {
    margin-left: 43%;
}

nav {
    background: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

nav::after {
    content: '';
    clear: both;
    display: table;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 5rem;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #333;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
    transition: 0.5s;
}

nav ul li a:hover{
    color: var(--white);
    box-shadow: 0 0 5px  var(--white);
    border-radius: 5px;
    transition: 0.3s;
}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover {
    color: var(--white);
    box-shadow: none;
    font-size: 20px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 9.4rem;
}
