* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    align-items: center;
}

.mt0 {
    margin-top: 100px;
}

.ots {
    margin-left: 25%;
}

.tops {
    margin-top: -20px;
    margin-bottom: 20px;
}

.amin-table {
    text-align: center;
    background:aqua;
    width: 100%;
    border-radius: 50px;
}
    
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}