* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: coral;
    font-family: "roboto";
}

a {
    font-size: 50px;
    color: black;
    text-decoration: none;
}
b {
    margin-left: 45rem;
}

.one {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.two {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 53rem;
    color: black;
}

.two:hover {
    color: white;
}
.two:active {
    color: red;
}

.content_block {
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 22%);
    padding: 1rem 2rem;
    max-width: 700px;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.one:hover {
    color: white;
}

.b {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
li{
    margin: 0;
    padding: 0;
}
.b:nth-child(odd) {
    background: white;
}

.b:nth-child(even) {
    background-color:red;
}
