* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uk-margin-l {
    margin-left: 10px;
}

.uk-card-title > small {
    font-size: 50%;
}

.user-group {
    padding-left: 15px;
}

.user-group > li {
    display: inline;
}

.user-group > li::before .user-group::after {
    content: none;
}

.user-group > li:hover > img {
    transform: scale(1.3);
    cursor: pointer;
    z-index: 10;
}

.user-group > li > img {
    border: 2px solid white;
    margin-left: -15px;
    position: relative;
}

.uk-button {
    margin-top: -20px;
    float: right;
}

.uk-progress {
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    width: 90%;
}
