* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main.panel {
    max-width: 900px;
    width: 90vw;
    background: var(--theme-two);
    border-radius: 20px;
    box-shadow: 0 2px 5px -6px var(--text),0 0 30px -50px var(--text);
    display: flex;
}

main {
    display: block;
}

body{
    background-repeat: no-repeat;
    background-position: bottom -150px left -70px, top -120px right -100px;
    background-size: 300px, 380px, 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.panel .panel__mine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    padding: 2rem 1rem;
}
.panel__mine.half--one {
    flex-grow: 2;
    border-radius: inherit;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.panel__mine.half--two {
    background: var(--theme);
    color: var(--theme-two);
    padding: 2rem;
    flex-grow: 1;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
main.panel .links a {
    display: inline-block;
    font-weight: 900;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid currentColor;
}

main.panel a {
    text-decoration: none;
    margin: 10px 10px;
    color: inherit;
}



:root {
    --bg: #F0F4F3;
    --theme: #3AB19B;
    --theme-two: #FFFFFF;
    --text: #697a79;
}

